
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico'), url('./Pacifico.woff') format('woff');
}
                
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #b3b3b3 url('images/meme2-bg.png') center;
}
header {
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: 'Comic Sans MS', 'Arial', sans-serif;
  background: #fff url('images/beaker.jpeg') no-repeat center bottom;
  background-size: 60px;
  position: relative;
}
b {
  display: block;
  font-size: 0.8rem;
}
.btn-primary{
  border-color: #f66518;
  background-color: #f66518;
  width: 100%;
}
.btn-primary:hover {
  color: #f66518;
  background-color: #fff;
  border-color: #f66518;
}
.container {
  max-width: 630px;
  background-color: #fff;
  margin: 50px auto;  
  display: flex;
  padding:10px 0;
}
.toolbar {
  margin: 0;
  padding: 0;
  float: left;
  margin: 0 20px 0;
  width: 30%;
}
.upload {
  display: inline-block;
  margin: 0 0 10px;
  width: 100%;
}
.wrapper {
  position: relative;
}
input, select, button, label {
  font-size: 0.8rem;
}
select {
  width: 100%;
}
input[type="file"] {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
input[type="color"] {
  width: 20px;
  border: 0px;
  padding: 0;
  background-color: #fff;
  height:26px;
  position: absolute;
  right:44px;
}
input[type="number"]{
  width:45px;
  padding: 4px 0 4px 4px;
  position: absolute;
  height:26px;
  right:0px;
}
input[type="radio"]{
  margin:0 3px 0 6px;
}
input[type="radio"]:first-of-type{
  margin:0 3px 0 0;
}
.top-text, .bottom-text {
  border:1px solid grey;
  border-radius: .25rem;
  margin: 0 0 10px;
  padding: 6px;
}
.me-image{
  position: relative;
  float: left;
  height: 436px;
}
.me-text-top, .me-text-bottom {
  position: absolute;
  width:100%;
  height: 50px;
  font-size: 20px;
  display: table;
}
.me-text-top {
  top: 0;
}
.me-text-bottom {
  bottom:0;
}